# Should not use the experimental featuers, it's stil un-stable.
lombok.experimental.flagUsage = error

# Use the JDK's var and val.
lombok.var.flagUsage = error

# It's identical to `final var`.
lombok.val.flagUsage = error

# Should not use @NonNull, because it inserts the NPE checking logic into the head of methods.
# 1. The @NotNull and @Nullabe provides the compile-tiem NPE checking, it's enough.
# 2. The @NonNull inserts the NPE checking in runtime, with performance overhead.
# 3. Should not ignore the NPE checking logic.
lombok.nonNull.flagUsage = error

# Use the `private` to replace the `package default` visibility modifier for fields.
lombok.fieldDefaults.defaultPrivate = true

# It's fine to use @SneakyThrow if:
# 1. There is an enclosing exception handler (Like, the command method.)
# 2. The exception is throw in non-main thread.
# 3. Specify the exceptions to throw sneakly, and shorten the code.

# Use @Cleanup or try-with-statement to handle the cleanup task of an I/O stream.

# To write a pojo entity:
# 1. Attach @Data above the class, to provide @Getter, @Setter, @RequiredArgsConstructor, @ToString, @EqualsAndHashCode
# 2. Attach @NoArgsConstructor above the class, to be used by the instance creator from other libraries.
# 3. If needed, use @With to create a new one from the old one.
# 4. Remember to use `callSuper=true` when subclassing.
#      @EqualsAndHashCode(callSuper = true)
#      @ToString(callSuper = true)
