# Should not use the experimental featuers, it's stil un-stable.
lombok.experimental.flagUsage = error

# Use the `private` to replace the `package default` visibility modifier for fields.
lombok.fieldDefaults.defaultPrivate = true

# It's fine to use @SneakyThrow if:
# 1. There is an enclosing exception handler (Like, the command method.)
# 2. The exception is throw in non-main thread.
# 3. Specify the exceptions to throw sneakly, and shorten the code.

# Use @Cleanup or try-with-statement to handle the cleanup task of an I/O stream.

# To write a pojo entity:
# 1. How to write annotations above the class:
#   a. If the entity is read-only: use @Data and final fields. (The @Data contains the @RequiredArgsConstructor.
#   b. If the entity is read-and-write: use @Data and @AllArgsConstructor. (Sometimes you may need to write the constructor manually)
# Use @Getter, @Setter and @Accessor for a field, to reduce boilplate code.

# Use @NonNull to insert verification logics at the head of a method. (The @NotNull only provides compile-time check)
lombok.nonNull.exceptionType = IllegalArgumentException
